/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-text-color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */
.header {
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 19px;
    width: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 68px;
    height: 79px;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.nav-menu:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 0px;
    padding: 10px 0px 10px 0px;
    transition: transform 0.35s;

}



/****** hero Section ***********/
.hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.hero-title {
    margin: 0;
    font-size: 22px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* search-bar */

.search-bar {
    height: 49px;
    display: flex;
    flex-direction: row;
    gap: 0;
    border: 1px solid var(--main-bg-color);
    width: fit-content;
    border-radius: 15px;

}

.rectangle {
    height: 49px;
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid.fa-location-dot {
    width: 14px;
    height: 18px;
    color: var(--main-text-color);
}

.search-input {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.search-button {
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 15px 16px;
    width: 132px;
}

.search-button-mobile {
    display: none;
}

.search-button:hover {
    cursor: pointer;
}


/*filters-bar*/

.filters-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}

.ligne-filtres {
    display: flex;
    gap: 15px;
}

.filters-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.filters-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    box-sizing: border-box;
    background: none;
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 4px 19px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    transition: background-color 0.35s ease;
    cursor: pointer;
}

.filter-button i {
    margin-right: 8px;
    font-size: 18px;
}


/*info*/

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.info i {
    height: 24px;
    width: 24px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*section group*/

.section-group {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.section-group section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/** Hebergement à Marseille & populaire**/

.Hebergements-a-marseille {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Hebergements-a-marseille-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ligne-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Hebergements-a-marseille-cards .card {
    height: fit-content;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 100%;
}

.Hebergements-a-marseille-cards .card img {
    border-radius: 20px 20px 0 0;
    height: 124px;
    width: 100%;
}

.card-content {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title {
    margin: 0;
}

.card-subtitle {
    margin: 0;
}


.Hebergements-a-marseille-more {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;

}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activite-a-marseille {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activite-a-marseille-cards {
    display: flex;
    gap: 30px;
}

.activite-a-marseille-cards .card {
    border-radius: 20px;
    padding: 0;
    width: 100%;
}

.activite-a-marseille-cards .card img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}


.activite-a-marseille-cards .card-title {
    padding: 20px 19px 20px 19px;
}

/***Footer***/
footer {
    background-color: var(--main-bg-color);
    display: flex;
}

.footer-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
}

.footer-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.footer-group p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media only screen and (max-width: 1024px) {

    .filters-bar {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    .section-group {
        flex-direction: column;
        gap: 50px;
    }

    .Hebergements-a-marseille {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-a-marseille-cards .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 767.98px) and (min-width: 320px) {
    .main-container {
        padding: 0px;
    }

    .header {
        flex-direction: column;
        height: fit-content;
        gap: 10px;
    }

    .header img {
        padding: 30px;
    }

    .nav-links {
        padding: 0;
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }

    .nav-menu {
        padding-bottom: 10px;
        height: fit-content;
        width: 100%;
        justify-content: center;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .nav-menu:hover {
        border-top: none;
        border-bottom: #0065FC 3px solid;
    }

    .search-bar {
        display: flex;
        height: 60px;
        border: none;
    }

    .search-button {
        display: none;
    }

    .search-form {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .search-button-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 15px;
        padding: 20px 20px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    .rectangle {
        height: 60px;
        width: 60px;
        border-radius: 15px 0 0 15px;
    }

    .search-button-mobile i {
        height: 17px;
        width: 17px;
        color: white;
    }

    .info-group {
        padding: 0 20px;
    }

    .filters-buttons {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .filter-button {
        width: 100%;
    }

    .section-group section {
        border-radius: 0px;
        padding: 30px 20px;
    }

    .section-group {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .section-group .Hebergements-a-marseille {
        background-color: white;
    }

    .Hebergements-a-marseille-cards {
        gap: 15px;
    }

    .ligne-card {
        flex-direction: column;
        gap: 15px;
    }

    .Hebergements-a-marseille .card {
        width: auto;
    }

    .activite-a-marseille-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activite-a-marseille-cards .card img {
        height: 141px;
    }

    .footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer-group {
        padding: 0;
    }
}