/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-text-color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
}

header img {
    height: 20px;
    width: auto;
    margin: 20px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

header nav ul li a {
    position: relative;
    padding: 10px 0;
    color: #000000;
}

header nav ul li a:hover {
    color: var(--main-color);
}

header nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transform: scaleX(0);
    transition: transform 0.2s;
}

header nav ul li a:hover::before {
    transform: scaleX(1);
}

/****** Hero Section ***********/
.hero-title {
    font-size: 20px;
    color: var(--main-text-color);
    margin-top: 20px;
    margin-bottom: 5px;
}

.hero-subtitle {
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
}

/* search-bar */

.search-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;

}

.fa-solid.fa-location-dot {
    margin-right: 280px;
    margin: auto 0;
    font-size: 15px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.search-input {
    border: none;
    padding: 0px 5px;
    width: 125px;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 20px;
}

.search-input::placeholder {
    font-weight: bold;
    font-size: 15px;
    color: var(--main-text-color)
}

.search-button-desktop {
    background-color: var(--main-color);
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: background-color 0.35s ease;
}

.search-button-mobile {
    display: none;
}

.search-button:hover {
    background-color: var(--main-text-color);
    color: white;
    transition: background-color 0.35s ease;
}


/*filters-bar*/

.filters-bar {
    display: flex;
    align-items: center;
    width: 758px;
    height: 50px;
    gap: 15px;
    flex-wrap: wrap;
}

.filters-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-text-color);
    margin: 0;
    white-space: nowrap;
}

.filter-title h2 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    align-items: center;
    color: var(--main-text-color);
    padding: 10px;
}

.filters-title {
    font-size: 15px;
}

.filters-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    border: 2px solid #ffffff;
    border-radius: 25px 25px 25px 25px;
    padding: 4px 15px 4px 15px;
    margin: 19px 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.35s ease;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    transition: background-color 0.35s ease;
}

.filter-button i {
    margin-right: 8px;
    font-size: 18px;
}


/*info*/

.info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.info i {
    margin-right: 8px;
    font-size: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 2px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    font-size: 12px;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: #D9D9D9;
    /* gris clair mais visible sur fond #F2F2F2 */
}

/**section group**/

.section-group {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
}

.activite-a-marseille section {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.activite-a-marseille {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
}

.activite-a-marseille>a {
    flex: 1 1 0;
    max-width: 297px;
    min-width: 220px;
    text-decoration: none;
}

.activite-a-marseille-title {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.activite-a-marseille-cards {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
}

.activite-a-marseille-cards a {
    flex: 1 1 0;
    max-width: 297.5px;
    min-width: 200px;
    margin-bottom: 30px;
}

.activite-a-marseille-cards .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    border-radius: 18px;
    box-shadow: none;
    padding: 0;
    border: none;
    transition: box-shadow 0.2s;
}

.activite-a-marseille-cards .card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
    display: block;
}

.activite-a-marseille-cards .card-content {
    width: 100%;
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    margin-bottom: 0px;
    min-height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.activite-a-marseille-cards .card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0 0 0;
    color: #000;
}


/** Hebergement à Marseille **/
.Hebergements-a-marseille-and-populaires {
    display: flex;
    justify-content: space-between;
}

.Hebergements-a-marseille section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.Hebergements-a-marseille {
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Hebergements-a-marseille-title {
    display: flex;
    width: 811px;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--main-text-color);
}

.Hebergements-a-marseille-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

.Hebergements-a-marseille-cards>a {
    flex: 0 1 30%;
    max-width: 30%;
    min-width: 250px;
    box-sizing: border-box;
}

.Hebergements-a-marseille-cards .card {
    height: 100%;
    border-radius: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Hebergements-a-marseille-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Hebergements-a-marseille-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.Hebergements-a-marseille-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.Hebergements-a-marseille-cards .card-subtitle {
    margin: 0;
}

.Hebergements-a-marseille-cards .card-rating {
    margin-bottom: 5px;
}

.Hebergements-a-marseille-more {
    width: 811px;
    height: 21px;
    color: var(--main-text-color);
    text-align: left;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    line-height: 100%;
    letter-spacing: 0px;
    cursor: pointer;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    width: 369px;
    height: 146px;
    border-radius: 20px;
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***Footer***/
footer {
    color: var(--main-text-color);
    padding: 40px 0 20px 0;
    font-size: 16px;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 40px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 10px;
    font-size: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        padding: 0 20px;
        width: 1024px;
        height: 1893.52px;
        padding-left: 50px;
        padding-right: 50px;
        gap: 35px;
    }

    .search-bar {
        margin-top: 30px;
    }

    .section-group {
        flex-direction: column;
        gap: 30px;
        align-items: stretch;
    }

    .filters-bar {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .filters-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-right: 0;
        margin-bottom: 5px;
        white-space: nowrap;
    }

    .filters-buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .filter-button {
        font-size: 14px;
        padding: 8px 20px;
        border-radius: 25px;
        margin: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        background: #fff;
        border: 2px solid #DEEBFF;
        transition: background-color 0.35s;
    }

    .filter-button:hover {
        background: var(--filter-bg-color);
    }

    .Hebergements-a-marseille {
        flex: 3;
        width: 924px;
        height: 611.5px;
        border-radius: 15px;
        padding: 30px;
        gap: 30px;
    }

    .populaires {
        width: 924px;
        height: 252px;
        border-radius: 15px;
        padding: 30px;
        gap: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    .populaires-cards .card {
        width: 274.67px;
        height: 146px;
        border-radius: 20px;
    }

    .populaires-cards .card-content {
        display: flex;
        flex-direction: column;
        width: 183.11px;
        height: 136px;
        top: 5px;
        left: 91.56px;
        padding-left: 15px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-top: 10px;
        gap: 24px;
        box-sizing: content-box;
    }

    .populaires-cards img {
        width: 91.56px;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top: 5px;
        border-left: 5px;
        border-bottom: 5px;
    }

    .Hebergements-a-marseille-title,
    .Hebergements-a-marseille-more {
        width: 100%;
    }

    .Hebergements-a-marseille-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    .Hebergements-a-marseille-cards .card {
        display: flex;
        flex-direction: column;
        width: 268px;
        height: 207.25px;
        border-radius: 20px;
        padding-bottom: 15px;
        gap: 4px;
    }

    .Hebergements-a-marseille-cards .card-title {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .Hebergements-a-marseille-cards img {
        height: 124px;
        width: 268px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 5px;
    }

    .Hebergements-a-marseille-cards>a {
        flex: 0 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        min-width: 250px;
        box-sizing: border-box;
    }

    .activite-a-marseille {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 924px;
        height: 390.02px;
        padding: 30px;
        gap: 30px;
    }

    .activite-a-marseille-cards {
        display: flex;
        width: 864px;
        height: 270px;
        gap: 30px;
    }

    .activite-a-marseille-cards .card {
        width: 193.5px;
        height: 270px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: transparent;
        box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s;
    }

    .activite-a-marseille-cards .card img {
        width: 193.5px;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .footer-container {
        display: flex;
        align-items: flex-start;
        width: auto;
        margin: 0;
        height: 163px;
        gap: 30px;
        background-color: var(--main-bg-color);
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    * {
        box-sizing: border-box;
    }

    body {
        max-width: 100vw;
        width: 100%;
        height: auto;
        overflow-x: hidden;
        gap: 35px;
        margin: 0 auto;
    }

    .main-container {
        padding: 0 20px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 30px 0 0 0;
        width: 100%;
        height: auto;
    }

    header img {
        height: 19px;
        width: 61.09px;
        margin: 0 0 30px 0;
    }

    header nav {
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
    }

    header nav ul.nav-links {
        list-style: none;
        display: flex;
        justify-content: space-around;
        gap: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header nav ul.nav-links li {
        flex: 1;
        text-align: center;
    }

    header nav ul.nav-links li a {
        display: block;
        padding: 15px 0;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        transition: all 0.2s;
    }

    header nav ul.nav-links li a:hover,
    header nav ul.nav-links li a.active {
        color: var(--main-color);
        border-bottom-color: var(--main-color);
    }

    header nav ul li a::before {
        display: none;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        width: 375px;
        height: 3982.52px;
        gap: 35px;
    }

    .hero {
        width: 100%;
        max-width: 335px;
        height: auto;
        gap: 8px;
    }

    .hero-title {
        width: 100%;
        height: auto;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .hero-subtitle {
        width: 100%;
        height: auto;
        font-family: 'raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .search-bar {
        display: flex;
        width: 100%;
        max-width: 335px;
        height: 49px;
        border-radius: 15px;
        border: 1px var(--main-bg-color);
        background-color: white;
    }

    .search-form {
        padding-left: 20px;
    }

    .search-input {
        top: 14px;
        left: 74px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0px;
        align-items: center;
        color: var(--main-text-color);
    }

    .search-button-desktop {
        display: none;
    }


    .search-button-mobile {
        display: inline;
        background-color: var(--main-color);
        color: white;
        width: 49px;
        height: 49px;
        cursor: pointer;
        border-radius: 15px;
        border: 1px solid var(--main-color);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 15px;
        padding-right: 16px;
        padding-bottom: 15px;
        padding-left: 16px;
        gap: 10px;
        margin-left: auto;
        position: static;
        transition: background-color 0.35s ease;
    }

    .search-bar i {
        color: white;
        width: 17px;
        height: 17px;
    }

    .fa-solid.fa-location-dot {
        width: 14px;
        height: 18px;
        padding-left: 15px;
    }

    .search-button-mobile:hover {
        background-color: var(--main-text-color);
        color: white;
        transition: background-color 0.35s ease;
    }


    .fa-solid.fa-location-dot {
        margin-right: 280px;
        margin: auto 0;
        font-size: 15px;
        color: var(--main-text-color);
        background-color: var(--main-bg-color);
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .filters-bar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 335px;
        height: auto;
        gap: 20px;
    }

    .filters-buttons {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .filter-button {
        width: 162.5px;
        height: 50px;
        border-radius: 25px;
        padding-top: 4px;
        padding-right: 19px;
        padding-bottom: 4px;
        padding-left: 19px;
        gap: 10px;
        border: 2px solid #D9D9D9;
    }

    .info {
        width: 335px;
        height: auto;
        gap: 10px;
    }

    .info i {
        width: 24px;
        height: 24px;
        color: var(--main-color);
        border: 1px solid #D9D9D9;
    }

    .info p {
        width: 375px;
        max-width: 375px;
        height: 38px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .populaires {
        order: 1;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 30px 20px;
        gap: 15px;
        background-color: var(--main-bg-color);
        margin: 0;
    }

    .populaires-title {
        width: 100%;
        max-width: 335px;
        height: auto;
    }

    .fa-solid.fa-chart-line {
        width: 18px;
        height: 15.75px;
        top: 5px;
        left: 317.13px;
    }

    .populaires-title h2 {
        width: 100%;
        height: auto;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .populaires-cards {
        gap: 15px;
        width: 100%;
        height: auto;
        display: block;
    }

    .populaires-cards .card {
        width: 335px;
        height: 146px;
        border-radius: 20px;
        box-shadow: 0 3 15 0 rgba(0, 0, 0, 0.1);
    }

    .populaires-cards img {
        width: 111.67px;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        object-fit: cover;
    }

    .populaires-cards .card-content {
        width: 223.33px;
        height: 136px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        gap: 24px;
    }

    .populaires-cards .card-rating {
        margin-bottom: 0px;
    }

    .section-group {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 15px;
        margin: 0;
    }

    .Hebergements-a-marseille {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        height: auto;
        margin-top: 0;
        padding: 20px;
        gap: 15px;
        background-color: white;
    }

    .Hebergements-a-marseille-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .Hebergements-a-marseille-cards>a {
        width: 100%;
        max-width: 335px;
        height: auto;
        border-radius: 20px;
        padding-bottom: 15px;
        gap: 4px;
    }

    .Hebergements-a-marseille-cards .card {
        width: 100%;
        height: auto;
        border-radius: 20px;
        padding-bottom: 15px;
        gap: 4px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    .Hebergements-a-marseille-cards img {
        width: 100%;
        height: 124px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: white 5px;
    }

    .card {
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
    }

    .Hebergements-a-marseille-cards .card-content {
        width: 100%;
        height: auto;
        padding: 10px 15px;
        gap: 4px;
    }

    .Hebergements-a-marseille-title {
        width: 100%;
        height: auto;
        font-family: 'raleway', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);

    }

    .Hebergements-a-marseille-more {
        width: 100%;
        height: auto;
        font-family: 'raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
        cursor: pointer;
    }

    .Hebergements-a-marseille a {
        margin-bottom: 0px;
        padding-bottom: 5px;
    }

    .activite-a-marseille {
        order: 3;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        height: auto;
        padding: 30px 20px;
        gap: 30px;
        margin-top: 0px;
    }

    .activite-a-marseille-cards {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: auto;
        gap: 15px;
    }

    .activite-a-marseille-cards .card {
        width: 100%;
        height: 200px;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

    .activite-a-marseille-cards .card img {
        width: 100%;
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activite-a-marseille-cards .card-content {
        width: 100%;
        height: auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 19px;
        gap: 10px;
    }

    .activite-a-marseille-title {
        width: 277px;
        height: 19px;
        font-family: 'raleway', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .activite-a-marseille-cards a {
        margin-bottom: 0px;
    }

    footer {
        width: 375px;
        height: 461px;
        padding: 30px;
        margin-bottom: 0px;
        gap: 50px;
        background-color: var(--main-bg-color);
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        gap: 40px;
        margin: 0;
    }

    .footer-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .footer-container ul {
        font-family: 'raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }

    .footer-container li {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--main-text-color);
    }
}